<h1> My Todo's</h1>

<div *ngIf="message" class="alert alert-success">{{ message }}</div>

<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th>Description</th>
      <th>Target Date</th>
      <th>Is Completed?</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let todo of todos ; trackBy: itemTrackBy">
      <td>{{ todo.description }}</td>
      <td>{{ todo.targetDate | date | uppercase }}</td>
      <td>{{ todo.isDone }}</td>
      <td>
        <button (click)="updateTodo(todo.id)" class="btn btn-success">Update</button>
      </td>
      <td>
        <button (click)="deleteTodo(todo.id)" class="btn btn-warning">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div *ngIf="errorMessage" class="container">
  <h2>Some Error has Happened! Contact Support at **** - **** - ****</h2>
  {{ errorMessage }}
</div>
