<h1> Todo </h1>
<div class="container">
  <div *ngIf="todoForm.dirty && todoForm.invalid" class="alert alert-warning">Enter valid values!</div>
  <div *ngIf="todoForm.dirty && targetDate.invalid" class="alert alert-warning">Enter valid Target Date!</div>
  <div *ngIf="todoForm.dirty && description.invalid" class="alert alert-warning">Enter at least 5 characters in
    Description!
  </div>

  <form #todoForm="ngForm" (ngSubmit)="!todoForm.invalid && saveTodo()">
    <fieldset class="form-group">
      <label>Description</label>
      <input #description="ngModel"
             [(ngModel)]="todo.description"
             class="form-control"
             minlength="5"
             name="description"
             required="required"
             type="text">
    </fieldset>
    <fieldset class="form-group">
      <label>Target Date</label>
      <input #targetDate="ngModel"
             (ngModelChange)="todo.targetDate = $event"
             [ngModel]="todo.targetDate | date:'yyyy-MM-dd'"
             class="form-control"
             name="targetDate"
             required="required"
             type="date">
    </fieldset>
    <button class="btn btn-success" style=" margin-top: 20px;" type="submit">Save</button>
  </form>
</div>


<div *ngIf="errorMessage" class="container">
  <h2>Some Error has Happened! Contact Support at **** - **** - ****</h2>
  {{ errorMessage }}
</div>
